<html>
<head>
  <%- include ('./partials/head.ejs') %>

    <title>Register Page</title>
</head>

<body>

  <%- include('./partials/nav.ejs') %>
<div>
  <div >
  <script>
    var loadFile = function(event) {
        var image = document.getElementById('profilePic');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
  </div>
  <h2 style=" font-weight:lighter">PHOTO:    
    <img id= "profilePic" style="margin-left: 40px; border-radius:50%; border: 1px solid #555; " width = "200px" height ="200px" ></img>
    
    
    <span class="custom-file mb-3" style ="width: 20%; height: 35px;" >
        <h6>
          <input type="file" name="profilePic" id="profilePic" class="file" onchange="loadFile(event)">
          <label for="profilePic" class="file" style = "text-align:left; margin-left: 60px"></label>
        </h6>
      </span>
      

  </h2>
</div>


<hr style=" border-top: 3px double #a3a3a3;"></hr>

<div>
  <h2 style="float:left; font-weight:lighter">FIRST NAME: </h2>
  <h2 style="margin-left: 200px;"><%= firstName %></h2>
</div>


<hr style=" border-top: 3px double #a3a3a3;"></hr>
<div>

  <h2 style="float:left;font-weight:lighter">LAST NAME:</h2>
  <h2 style="margin-left: 200px; "> <%= lastName %></h2>
 
</div>


<hr style=" border-top: 3px double #a3a3a3;"></hr>

<div >
  <h2 style="float:left; font-weight:lighter" >EMAIL:  </h2>
   <h2 style="margin-left: 200px;"><%= email %></h2>
</div>


<input type="submit" style="visibility: hidden; position: absolute;" />




<div>
<hr></hr>
<button id="myBtn" class ="resetbtn" >RESET PASSWORD</button>



<script type = "text/javascript">

let editPressed = false

let fname = document.getElementById("fname");
let lname = document.getElementById("lname");
let email = document.getElementById("email");
//EnableDisableTB();

function edit(){


  editPressed = true;
  //alert(fname.value);
  fname.removeAttribute("disabled");
  lname.removeAttribute("disabled");
  email.removeAttribute("disabled");
 
  // EnableDisableTB();
}


 /* function EnableDisableTB(){
   /*var fname = document.getElementById("fname");
    
   fname.disabled = true;
    if(fname.disabled){*/
     // others = others.disabled;
   //   fname.focus();
 //   }
  


</script>









<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="close">&times;</div>
    <center>
      <p>Reset Password</p>

<form action="/account_details" method = "POST" id="form" onsubmit="opensuccessmodal()">
  <div class="input-icons">
    <i class="fa fa-lock icon"></i>
    <input type="password" name = "oldPassword" id = "oldPassword"  placeholder = "Old Password" class = "input-field2" required style="width:85%;">
</div>
<div class="input-icons">
  <i class="fa fa-lock icon"></i>
  <input type="password" name = "NewPassword1" id = "newPassword1"  placeholder = "New Password" class = "input-field2" required style="width:85%;">
</div>
<div class="input-icons">
  <i class="fa fa-lock icon"></i>
  <input type="password" name = "NewPassword2" id = "newPassword2"  placeholder = "Confirm New Password" class = "input-field2" required style="width:85%;">
</div>


</form>
    <button type="submit" class ="resetbtn2"  value="Submit" id="myBtn2" form="form">Change Password</button>  
    </center>
  </div>

</div>

<div id="myModal2" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <center>
      <p>Your Password Has Been Successfully Changed.</p>
    </center>
  </div>

</div>




<!----------------------Scripting for Modal------------------------------->
<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var close = document.getElementsByClassName("close")[0];
var modal2 = document.getElementById("myModal2");

// Open Modal
btn.addEventListener('click', openModal);

function openModal() {
      modal.style.display = 'block';
    }


//Close Modal

close.onclick = function() {
  modal.style.display = "none";
}

//Outside Click Close

window.addEventListener('click', clickOutside);

function clickOutside(e) {
    if(e.target == modal){
        modal.style.display = 'none';
    }
}



function opensuccessmodal(){
modal2.style.display='block';
modal.style.display = 'none';

}

</script>


</body>
</html>
