<!DOCTYPE html>
<html lang="en">

    <%- include ('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <div class = 'doc_Content' style="width: 75%;padding-bottom: 600px; ">

    

        <div class = "docu" style="width: 100%; height:100%;margin: 0 auto; text-align:center; " >
            <h2>File</h2>

        <center> <embed src="http://localhost:5000/ViewPage_Default/document/<%= doc.file_ID[0] %>" width = "100%" height ="500" ></center>
            <!-- do a loop function so that the pictures will iterate from the system, do a carousel, and add arrow functions -->
        
        <!-- <center> <embed src="https://group-7-project-appdev.herokuapp.com/ViewPage_Default/document/<%= doc.file_ID[0] %>" width = "100%" height ="300"></center>
            do a loop function so that the pictures will iterate from the system, do a carousel, and add arrow functions -->

            <% const tempExpirationDate = '10/22/2022' %> 
            <% const tempDateIssued = '08/25/2021' %>

        </div>
    </div>



    <div style = "background-color:rgb(226, 226, 226); width:95%; margin:auto; height: 100%;" >
  <div style= "background-color: grey; width:100% ;margin: auto; padding-inline: 10px;">
    <p style =" color:black; font-size: 40px;">Document Details:</p>  
    </div>
    



<div class = "container" >
    <div class = "row"  >
        <div class = "col-sm-6" >
        <div>
            <label for="doc_Group">Document Group:</label>
                <input type="text" id="docu_Group" name="docu_Group" value= "<%= doc.docu_Group %>" style ="width: 60%; height: 35px; margin-top:10px; margin-left: 10px;">
        </div>

        <div>
            <p class = "doc_Type">Document Type:         
                <select id="list" style ="width: 60%; height: 35px; margin-top:10px;  margin-left: 20px;">
                    <option value="placeholder"><%= doc.docu_Type %></option>
                    <option value="Balance Sheet">Balance Sheet</option>
                    <option value="Bank Statement">Bank Statement</option>
                    <option value="Business Plan">Business Plan</option>
                    <option value="Business Report">Business Report</option>
                    <option value="Contract">Contract</option>
                    <option value="Customer Order">Customer Order</option>
                    <option value="Debit/Credit Note">Debit/Credit Note</option>
                    <option value="Employment Agreement">Employment Agreement</option>
                    <option value="Franchise Agreement">Franchise Agreement</option>
                    <option value="Income Statement">Income Statement</option>
                    <option value="Insurance">Insurance</option>
                    <option value="Invoice">Invoice</option>
                    <option value="Receipt">Receipt</option>
                    <option value="License">License</option>
                    <option value="Minutes of Meeting">Minutes of Meeting</option>
                    <option value="Non-disclosure Agreement">Non-disclosure Agreement</option>
                    <option value="Partnership Agreement">Partnership Agreement</option>
                    <option value="Payroll Report">Payroll Report</option>
                    <option value="Permit">Permit</option>
                    <option value="Policies and Guidelines">Policies and Guidelines</option>
                    <option value="Supplier Order">Supplier Order</option>
                </select></p> 
        </div>

        <div>
            <label for="doc_Group">Date Issued:</label>
                <input type="text" id="date_Issued" name="date_Issued" value= "<%= tempDateIssued %>" style ="width: 60%; height: 35px; margin-top:10px; margin-left: 49px;">
        </div>

        <div>
            <label for="doc_Group">Expiration Date:</label>
                <input type="text" id="doc_group" name="doc_group" value= "<%= tempExpirationDate %>" style ="width: 60%; height: 35px; margin-top:10px; margin-left: 23px;">
        </div>

        <div>
            <label for="doc_Group">Prerequisite Files:</label>
                <input type="text" id="#" name="#" value= "" style ="width: 60%; height: 35px; margin-top:10px; margin-left: 10px;">
        </div>

        </div>

        
        <div class = "col-sm-6">
        <p class = "date_Created">Data Created:<%= doc.date_Created%> </p>
        <p class = "created_By"> Created By: <%= doc.created_By%> </p>
        <p class = "date_Lmodified">Last Modified: <%= doc.date_Lmodified%> </p>
        <p class = "modified_By">Modified By: <%= doc.modified_By%> </p>
        </div>
                

        


        <div class = "w-100">
            <div class = "col">
        
        <div>
            <hr style= "border-top: 10px solid #8c8b8b; width: 100%; margin-top:50px;"></hr>
            
            <h1>Attached File:</h1>
            <form action="/Document_Details/<%=doc._id%>" method="PATCH" enctype="multipart/form-data">
                <div>
                    <% if(doc.file_ID.length > 0 ){ %>
                        <% doc.file_ID.forEach((element, index) => { %>
                    
                            <input type="text" id="file_name" name="file_name" value= "<%= doc.file_Name[index] %>" style ="width: 60%; height: 35px; margin-top:10px; margin-left: 49px;">
                            <button for="file_name" type="submit" value="Delete" class="delbtn" style ="width: 5%; height:5%; text-align: center;">Delete</button>
                        <% }) %>
                    <% } %> 
                </div>

            </form>
           


             <form action="/Document_Details/<%=doc._id%>" method="POST" enctype="multipart/form-data">
                            <div style ="margin-right: 10px;">
                            <button type="submit" value="Submit" class="btn btn-primary btn-block" style ="width: 10%; float:right; margin: 10px; background-color: rgb(121, 187, 21); border-color:rgb(121, 187, 21);">Add</button>
                                <label for="snippet"></label>
                                <div class="custom-file mb-3" style ="width: 60%; height: 35px; float:right;" >
                                    <input type="file" name="attch_file" id="attch_file" class="custom-file-input" required>
                                    <label for="attch_file" class="custom-file-label" style = "text-align:left; margin-left: 60px ">Choose file</label>
                                </div>
                            
                             </div>
                
             </form>
             <script type="text/javascript">

                $('.custom-file input').change(function (e) {
                    var files = [];
                    for (var i = 0; i < $(this)[0].files.length; i++) {
                        files.push($(this)[0].files[i].name);
                    }
                    $(this).next('.custom-file-label').html(files.join(', '));
                });
            
            </script>
          </div>
        </div>
    </div>
        
    </div>
</body>
</html>
