<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head.ejs') %>

<body>
<%- include('./partials/nav.ejs') %></div>
    

    <% const tempExpirationDate = '10/22/2022' %> 
    <% const tempDateIssued = '08/25/2021' %>

    <div class="biccbox">
      <div style ="padding:50px;"></div>
<div>  
<div >
    
            <div style="width:100%;">
                <div class = "row"  >
                  <div class = "col" >
                    <div style ="padding:10px;"></div>
      <p class = "doc_Type" style="padding-left:80px;font-size: 25px;">Document Type:         
        <select id ="docu_Type" name="docu_Type" style ="width: 48%; height: 35px;" onchange="searchable2()">
        <option value="placeholder"></option>
        <option value="Balance Sheet">Balance Sheet</option>
        <option value="Bank Statement">Bank Statement</option>
        <option value="Business Plan">Business Plan</option>
        <option value="Business Report">Business Report</option>
        <option value="Contract">Contract</option>
        <option value="Customer Order">Customer Order</option>
        <option value="Debit/Credit Note">Debit/Credit Note</option>
        <option value="Employment Agreement">Employment Agreement</option>
        <option value="Franchise Agreement">Franchise Agreement</option>
        <option value="Income Statement">Income Statement</option>
        <option value="Insurance">Insurance</option>
        <option value="Permit">Permit</option>
        <option value="Invoice">Invoice</option>
        <option value="Receipt">Receipt</option>
        <option value="License">License</option>
        <option value="Minutes of Meeting">Minutes of Meeting</option>
        <option value="Non-disclosure Agreement">Non-disclosure Agreement</option>
        <option value="Partnership Agreement">Partnership Agreement</option>
        <option value="Payroll Report">Payroll Report</option>
        <option value="Permit">Permit</option>
        <option value="Policies and Guidelines">Policies and Guidelines</option>
        <option value="Supplier Order">Supplier Order</option>
    </select>
</p>
                </div>
               
                <div style>
                  <div style ="padding:10px;"></div>
           <div style="width:500px;">
            <input type="text" id="myInput" onkeyup="searchable()" placeholder="Search for Document Group" style ="width: 85%; height: 35px;">
        </div>

        
        
                </div>
              </div>
            </div>



</div>

<div class = "Files">

  <div class = 'Doc content' >


    <div class = 'doc_content_head' style="width:100%; padding-bottom:5px;">


      <div class="toppart" >
        <div id = "sortName" onclick="sortListDir(); toggleupdown1();"  
        style="float:left; width:20%; color: rgb(57, 201, 206);
         border-color:white; margin-left:100px; font-size:25px;">Document Group <i id = "caret1"class="nothing"></i>
</div>
    <div style="float:right; width:20;color: rgb(57, 201, 206); margin-right:55px; font-size:25px; " onclick="toggleupdown2();">Upload Date<i id = "caret2"class="nothing"></i></div>
    <div style="float:right; width:20; color: rgb(57, 201, 206); margin-right:110px; font-size:25px; " onclick="toggleupdown3();">Expiration<i id = "caret3"class="nothing"></i></div>
    
    </div>
  </div>

  


  
<ul id="id01" style="list-style-type: none;">
  <div  style= "padding-top: 55px;" >      
    <% if(docs.length > 0) { %>
        <% docs.forEach(doc => { %>
          <li>
           <div style="display:none;"><%= doc.docu_Group %></div> 
            <a id = "items" href = "/Document_Details/<%= doc._id%>">
              <div1 style="display:none;"><%= doc.docu_Type %> </div1>
                <h4  class ="docu_Group" style = 'background-color: rgb(250, 250, 250); display: block; width:95%; margin:auto; padding:10px; margin-bottom:10px; color:black;'><%= doc.docu_Group %>
                  <span1 style='float:right;padding-right: 20px'><%= doc.date_Created%></span1> <span2 style='float:right;padding-right: 110px'><%= tempExpirationDate %></span2> </h4>
            </a>
          </li>
        <% }) %>
    <% } else { %>
        <p>There are no documents to display... </p>
    
    <% } %>
</ul>




<script>
function sortListDir() {
  var list, i, switching, b, shouldSwitch, dir, switchcount = 0;
  list = document.getElementById("id01");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    b = list.getElementsByTagName("LI");
    for (i = 0; i < (b.length - 1); i++) {
      shouldSwitch = false;
      if (dir == "asc") {
        if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (b[i].innerHTML.toLowerCase() < b[i + 1].innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      b[i].parentNode.insertBefore(b[i + 1], b[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

/*---------------------Search Function-----------------------------*/

function searchable() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("id01");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}


function searchable2() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('docu_Type');
  filter = input.value.toUpperCase();
  ul = document.getElementById("id01");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("div1")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}



var x = true;
var y = true;
var z = true;


  function toggleupdown1(){
    
        if(x == true){
              document.getElementById("caret1").className = "caret-icon fa fa-caret-up";
              document.getElementById("caret2").className = "nothing";
              document.getElementById("caret3").className = "nothing";
              x = false;
            }else{
              document.getElementById("caret1").className = "caret-icon fa fa-caret-down";
              document.getElementById("caret2").className = "nothing";
              document.getElementById("caret3").className = "nothing";
              x = true;
            }
  }


  function toggleupdown2(){
    
    if(y == true){
          document.getElementById("caret1").className = "nothing";
          document.getElementById("caret2").className = "caret-icon fa fa-caret-up";
          document.getElementById("caret3").className = "nothing";
          y = false;
        }else{
          document.getElementById("caret1").className = "nothing";
          document.getElementById("caret2").className = "caret-icon fa fa-caret-down";
          document.getElementById("caret3").className = "nothing";
          y = true;
        }
}


function toggleupdown3(){
    
    if(z == true){
          document.getElementById("caret1").className = "nothing";
          document.getElementById("caret2").className = "nothing";
          document.getElementById("caret3").className = "caret-icon fa fa-caret-up";
          z = false;
        }else{
          document.getElementById("caret1").className = "nothing";
          document.getElementById("caret2").className = "nothing";
          document.getElementById("caret3").className = "caret-icon fa fa-caret-down";
          z = true;
        }
}


</script>


</div>
</div>

</body>
</html>
